In [1]:
import numpy as np
import pandas as pd

In [3]:
d = pd.date_range('20200301', periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(10, 4), index=d, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-03-01 -1.989965  0.250792 -1.739158 -0.880938
2020-03-02  0.661154  0.381098 -1.137977 -1.171960
2020-03-03  0.990390  0.216612 -1.123231  0.242527
2020-03-04 -0.486959  0.603084 -0.577087  0.323697
2020-03-05 -0.400898 -0.247124  0.228172 -0.364122
2020-03-06 -0.972140 -1.455811 -1.764328  0.692985
2020-03-07  1.379547  0.458591 -0.869197  0.302641
2020-03-08 -1.552489  0.245866 -1.252317  0.105192
2020-03-09 -0.196264 -1.524900  0.195338 -2.121229
2020-03-10  0.992400  1.185481  0.025711 -1.434810

In [5]:
# df.head 获取DataFrame的前5行元素
df.head()

                   A         B         C         D
2020-03-01 -1.989965  0.250792 -1.739158 -0.880938
2020-03-02  0.661154  0.381098 -1.137977 -1.171960
2020-03-03  0.990390  0.216612 -1.123231  0.242527
2020-03-04 -0.486959  0.603084 -0.577087  0.323697
2020-03-05 -0.400898 -0.247124  0.228172 -0.364122

In [6]:
# df.tail 获取DataFrame的最后5行元素
df.tail()

                   A         B         C         D
2020-03-06 -0.972140 -1.455811 -1.764328  0.692985
2020-03-07  1.379547  0.458591 -0.869197  0.302641
2020-03-08 -1.552489  0.245866 -1.252317  0.105192
2020-03-09 -0.196264 -1.524900  0.195338 -2.121229
2020-03-10  0.992400  1.185481  0.025711 -1.434810

In [8]:
# df.index 获取所有的index值,这是一个属性，不是方法
df.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [9]:
# df.columns 获取所有的列名
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
# 将pd.DataFrame转换成numpy array
df.to_numpy()

array([[-1.98996531,  0.25079215, -1.73915816, -0.8809384 ],
       [ 0.66115447,  0.38109751, -1.13797698, -1.17196027],
       [ 0.9903901 ,  0.21661216, -1.12323143,  0.24252743],
       [-0.48695947,  0.60308433, -0.57708738,  0.32369654],
       [-0.40089795, -0.24712367,  0.22817151, -0.36412171],
       [-0.9721399 , -1.4558113 , -1.76432846,  0.69298478],
       [ 1.37954691,  0.45859109, -0.86919716,  0.30264051],
       [-1.55248933,  0.24586615, -1.25231711,  0.10519229],
       [-0.1962645 , -1.52489981,  0.19533826, -2.12122906],
       [ 0.99239988,  1.18548056,  0.02571116, -1.43481016]])

In [11]:
# df.describe() 获取统计值，例如最大值，最小值和标准差
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.157523   0.011369  -0.801408  -0.430602
std     1.145498   0.869187   0.746796   0.926926
min    -1.989965  -1.524900  -1.764328  -2.121229
25%    -0.850845  -0.131190  -1.223732  -1.099205
50%    -0.298581   0.248329  -0.996214  -0.129465
75%     0.908081   0.439218  -0.124988   0.287612
max     1.379547   1.185481   0.228172   0.692985

In [17]:
# df.sort_index, 按索引进行排序，不是按值，如果axis=0,就是按行进行倒排
df.sort_index(ascending=False, axis=0)

                   A         B         C         D
2020-03-10  0.992400  1.185481  0.025711 -1.434810
2020-03-09 -0.196264 -1.524900  0.195338 -2.121229
2020-03-08 -1.552489  0.245866 -1.252317  0.105192
2020-03-07  1.379547  0.458591 -0.869197  0.302641
2020-03-06 -0.972140 -1.455811 -1.764328  0.692985
2020-03-05 -0.400898 -0.247124  0.228172 -0.364122
2020-03-04 -0.486959  0.603084 -0.577087  0.323697
2020-03-03  0.990390  0.216612 -1.123231  0.242527
2020-03-02  0.661154  0.381098 -1.137977 -1.171960
2020-03-01 -1.989965  0.250792 -1.739158 -0.880938

In [28]:
# axis = 1 按列进行倒排, D, C, B, A
df.sort_index(ascending=False, axis=1)

                   D         C         B         A
2020-03-01 -0.880938 -1.739158  0.250792 -1.989965
2020-03-02 -1.171960 -1.137977  0.381098  0.661154
2020-03-03  0.242527 -1.123231  0.216612  0.990390
2020-03-04  0.323697 -0.577087  0.603084 -0.486959
2020-03-05 -0.364122  0.228172 -0.247124 -0.400898
2020-03-06  0.692985 -1.764328 -1.455811 -0.972140
2020-03-07  0.302641 -0.869197  0.458591  1.379547
2020-03-08  0.105192 -1.252317  0.245866 -1.552489
2020-03-09 -2.121229  0.195338 -1.524900 -0.196264
2020-03-10 -1.434810  0.025711  1.185481  0.992400

In [38]:
# df.sort_values 按value进行排序
df.sort_values(['C'], ascending=False)

                   A         B         C         D
2020-03-05 -0.400898 -0.247124  0.228172 -0.364122
2020-03-09 -0.196264 -1.524900  0.195338 -2.121229
2020-03-10  0.992400  1.185481  0.025711 -1.434810
2020-03-04 -0.486959  0.603084 -0.577087  0.323697
2020-03-07  1.379547  0.458591 -0.869197  0.302641
2020-03-03  0.990390  0.216612 -1.123231  0.242527
2020-03-02  0.661154  0.381098 -1.137977 -1.171960
2020-03-08 -1.552489  0.245866 -1.252317  0.105192
2020-03-01 -1.989965  0.250792 -1.739158 -0.880938
2020-03-06 -0.972140 -1.455811 -1.764328  0.692985

In [39]:
# 选中单列
df['C']

2020-03-01   -1.739158
2020-03-02   -1.137977
2020-03-03   -1.123231
2020-03-04   -0.577087
2020-03-05    0.228172
2020-03-06   -1.764328
2020-03-07   -0.869197
2020-03-08   -1.252317
2020-03-09    0.195338
2020-03-10    0.025711
Freq: D, Name: C, dtype: float64

In [40]:
# 行切片
df[0: 3]

                   A         B         C         D
2020-03-01 -1.989965  0.250792 -1.739158 -0.880938
2020-03-02  0.661154  0.381098 -1.137977 -1.171960
2020-03-03  0.990390  0.216612 -1.123231  0.242527

In [41]:
# 获取第0行的值
df.iloc[0]

A   -1.989965
B    0.250792
C   -1.739158
D   -0.880938
Name: 2020-03-01 00:00:00, dtype: float64

In [42]:
# 获取第0行的值的第二种方法
df.loc[d[0]]

A   -1.989965
B    0.250792
C   -1.739158
D   -0.880938
Name: 2020-03-01 00:00:00, dtype: float64

In [44]:
# d[0]是索引的第0个
d[0]

Timestamp('2020-03-01 00:00:00')

In [46]:
# 获取所有行和部分列
df.loc[:, ['A', 'C']]

                   A         C
2020-03-01 -1.989965 -1.739158
2020-03-02  0.661154 -1.137977
2020-03-03  0.990390 -1.123231
2020-03-04 -0.486959 -0.577087
2020-03-05 -0.400898  0.228172
2020-03-06 -0.972140 -1.764328
2020-03-07  1.379547 -0.869197
2020-03-08 -1.552489 -1.252317
2020-03-09 -0.196264  0.195338
2020-03-10  0.992400  0.025711

In [48]:
# 获取部分行和部分列
df.loc['20200301': '20200306', ['D', 'C']]

                   D         C
2020-03-01 -0.880938 -1.739158
2020-03-02 -1.171960 -1.137977
2020-03-03  0.242527 -1.123231
2020-03-04  0.323697 -0.577087
2020-03-05 -0.364122  0.228172
2020-03-06  0.692985 -1.764328

In [49]:
# 从某行获取部分列
df.loc['20200306', ['C', 'D']]

C   -1.764328
D    0.692985
Name: 2020-03-06 00:00:00, dtype: float64

In [51]:
# 从指定索引的行，获取一个标量值
df.at[d[0], 'C']

-1.7391581575425041

In [52]:
# 另一种获取标量的方法
df.loc['20200301', 'C']

-1.7391581575425041

In [53]:
# 通过索引获取第三行的所有值
df.iloc[3]

A   -0.486959
B    0.603084
C   -0.577087
D    0.323697
Name: 2020-03-04 00:00:00, dtype: float64

In [57]:
# 通过索引获取3-5行，0-2列
df.iloc[3:5, 0:2]

                   A         B
2020-03-04 -0.486959  0.603084
2020-03-05 -0.400898 -0.247124

In [58]:
# boolean条件，获取所有A列值大于0.1的元素
df[df['A'] > 0.1]

                   A         B         C         D
2020-03-02  0.661154  0.381098 -1.137977 -1.171960
2020-03-03  0.990390  0.216612 -1.123231  0.242527
2020-03-07  1.379547  0.458591 -0.869197  0.302641
2020-03-10  0.992400  1.185481  0.025711 -1.434810