In [1]:
import numpy as np
import pandas as pd

In [3]:
# 使用pd.date_range创建日期列表
d = pd.date_range('20200301', periods=10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# 使用row index 和 column names创建DataFrame
df = pd.DataFrame(np.random.randn(10, 4), index=d, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-03-01  0.334894 -0.990988 -0.579822  0.762242
2020-03-02 -0.311384  0.240783  0.545799  2.463695
2020-03-03  0.786385  1.123314 -1.098852 -0.177784
2020-03-04 -0.726773  0.740826 -2.931434  1.133193
2020-03-05 -1.141144  1.418050  1.510400 -0.144376
2020-03-06  2.283966 -0.685187 -0.730134 -0.869561
2020-03-07  0.978413  0.003003 -1.185696  2.476565
2020-03-08 -0.357474  0.630227  0.639508 -0.594125
2020-03-09  0.376482  0.640752 -1.094215  1.704995
2020-03-10 -0.108049 -0.478565 -1.383000 -1.122764

In [8]:
# 使用python 字典构建 DataFrame
# 共用了C列的index
df_1 = pd.DataFrame({'A': [1, 2, 3, 4],
                     'B': pd.Timestamp('20200301'),
                     'C': pd.Series(1, index=list(range(4, 8)), dtype='float32'),
                     'D': np.array([5]*4, dtype='int32'),
                     'E': pd.Categorical(['True', 'False', 'True', 'False']),
                     'F': 'Edureka'
                    })
df_1

   A          B    C  D      E        F
4  1 2020-03-01  1.0  5   True  Edureka
5  2 2020-03-01  1.0  5  False  Edureka
6  3 2020-03-01  1.0  5   True  Edureka
7  4 2020-03-01  1.0  5  False  Edureka

In [10]:
# 新版本的DataFrame中，最后一列是string，而不是object
df_1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object