In [1]:
import numpy as np
import pandas as pd

In [6]:
# Save pd.Series to a CSV file
d = pd.date_range('3/1/2020', periods=10, freq='S')
d

DatetimeIndex(['2020-03-01 00:00:00', '2020-03-01 00:00:01',
               '2020-03-01 00:00:02', '2020-03-01 00:00:03',
               '2020-03-01 00:00:04', '2020-03-01 00:00:05',
               '2020-03-01 00:00:06', '2020-03-01 00:00:07',
               '2020-03-01 00:00:08', '2020-03-01 00:00:09'],
              dtype='datetime64[ns]', freq='S')

In [7]:
ts = pd.Series(np.arange(0, 10), index=d)
ts

2020-03-01 00:00:00    0
2020-03-01 00:00:01    1
2020-03-01 00:00:02    2
2020-03-01 00:00:03    3
2020-03-01 00:00:04    4
2020-03-01 00:00:05    5
2020-03-01 00:00:06    6
2020-03-01 00:00:07    7
2020-03-01 00:00:08    8
2020-03-01 00:00:09    9
Freq: S, dtype: int64

In [8]:
ts.to_csv("./ts.csv")

In [16]:
# 从csv 文件读取数据
df = pd.read_csv('./ts.csv')
df.columns = ["Time", 'Value']
df

                  Time  Value
0  2020-03-01 00:00:00      0
1  2020-03-01 00:00:01      1
2  2020-03-01 00:00:02      2
3  2020-03-01 00:00:03      3
4  2020-03-01 00:00:04      4
5  2020-03-01 00:00:05      5
6  2020-03-01 00:00:06      6
7  2020-03-01 00:00:07      7
8  2020-03-01 00:00:08      8
9  2020-03-01 00:00:09      9