In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql mssql+pyodbc://sa:Lily870104@MSSQLTest

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Delete 语句

In [4]:
%%sql use emp_db;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

In [7]:
%sql select top 1000 * from dept1;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(50, 'HR', None), (80, 'IT', '上海')]

*删除deptno=50的记录*

In [8]:
%%sql delete from dept1 where deptno=50;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
1 rows affected.
Done.

[]

In [9]:
%sql select top 1000 * from dept1;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(80, 'IT', '上海')]

*删除所有记录*

In [15]:
%%sql delete  from dept1 -- where deptno=40;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
0 rows affected.

[]

In [18]:
%sql select * from dept1;

 * mssql+pyodbc://sa:***@MSSQLTest
0 rows affected.

[]