In [1]:
%load_ext sql
%config SqlMagic.autocommit=True

In [3]:
%sql mssql+pyodbc://sa:Lily870104@MSSQLTest

## 创建主键的第一种方法

In [5]:
%%sql use test1 
    drop table emp
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

In [6]:
%%sql create table emp(
    emp_id int primary key,
    l_name varchar(50) not null,
    f_name varchar(50) not null
    )
    
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

## 另一种创建主键的方法

In [33]:
%%sql create table emp1(
    emp_id int,
    l_name varchar(50) not null,
    f_name varchar(50) not null,
    constraint emp_pk primary key(emp_id))
    
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
(pyodbc.ProgrammingError) ('42S01', "[42S01] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]There is already an object named 'emp1' in the database. (2714) (SQLExecDirectW)")
[SQL: create table emp1(
    emp_id int,
    l_name varchar(50) not null,
    f_name varchar(50) not null,
    constraint emp_pk primary key(emp_id))

    commit]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 不能用同名对象，否则会翻车

In [34]:
%%sql create table emp(
    emp_id int,
    l_name varchar(50) not null,
    f_name varchar(50) not null,
    constraint emp_pk primary key(emp_id)
    )
    
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
(pyodbc.ProgrammingError) ('42S01', "[42S01] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]There is already an object named 'emp' in the database. (2714) (SQLExecDirectW)")
[SQL: create table emp(
    emp_id int,
    l_name varchar(50) not null,
    f_name varchar(50) not null,
    constraint emp_pk primary key(emp_id)
    )

    commit]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Last name 和 first name 两列做primary key

In [36]:
%%sql create table emp2(
    l_name varchar(50) not null,
    f_name varchar(50) not null,
    salary money,
    constraint emp_pk_combined primary key (l_name, f_name)
    )

    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

### 先创建table， 再限定为primary key

In [38]:
%%sql create table emp4(
    emp_id int not null,
    l_name varchar(50) not null,
    f_name varchar(50) not null
    );

    alter table emp4 add constraint emp_primary_key primary key (emp_id)
    
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

## Foreign key

**
Foreign Key在child table中， Primary key 在parent table中。
foreign key会阻止对parent table的deletion 操作
**

**
Foreign key也有两种创建方式，
在创建表的时候创建，
或者在 表创建完成之后，通过alter 操作创建。
**

### 创建表时创建外键

In [39]:
%%sql create table product(
    prod_id int primary key,
    prod_name varchar(50) not null,
    category varchar(25)
    )


    create table orders(
    order_id int primary key,
    prod_id int not null,
    quantity int,
    constraint fk_product_id foreign key (prod_id) references product(prod_id)
    )
    
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

In [41]:
%%sql drop table orders 
    drop table product
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

### 建完表之后再添加外键

In [42]:
%%sql create table product(
    prod_id int primary key,
    prod_name varchar(50) not null,
    category varchar(25)
    )

    create table orders(
    order_id int primary key,
    prod_id int not null,
    quantity int
    )
    
    alter table orders add constraint fk_product_id foreign key(prod_id) references product(prod_id)
    
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

### 关于foreign key 的特殊情况
**
默认情况下，parent表中的主键，在child表中有外键时，尝试直接删除parent表中的主键，会报错，告诉你child表中有reference到parent
但是有的时候确实有这种业务逻辑的需求，怎么办，
就需要加on delete cascade关键字，做级联删除。这样两个表就可以一起删除了
**

In [44]:
%%sql drop table orders 
    drop table product
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

In [47]:
%%sql create table product(
    prod_id int primary key,
    prod_name varchar(50) not null,
    category varchar(25)
    )

    create table orders(
    order_id int primary key,
    prod_id int not null,
    quantity int
    )
    
    alter table orders add constraint fk_product_id foreign key(prod_id) references product(prod_id) on delete cascade
    
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

In [49]:
%%sql drop table orders 
    drop table product
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]

## 删除约束

In [50]:
%%sql alter table emp1 drop constraint emp_pk
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[]