In [1]:
import numpy as np
import pandas as pd

In [3]:
# 创建一个 datetime series
dates = pd.date_range('20200301', periods=100, freq='S')
dates

DatetimeIndex(['2020-03-01 00:00:00', '2020-03-01 00:00:01',
               '2020-03-01 00:00:02', '2020-03-01 00:00:03',
               '2020-03-01 00:00:04', '2020-03-01 00:00:05',
               '2020-03-01 00:00:06', '2020-03-01 00:00:07',
               '2020-03-01 00:00:08', '2020-03-01 00:00:09',
               '2020-03-01 00:00:10', '2020-03-01 00:00:11',
               '2020-03-01 00:00:12', '2020-03-01 00:00:13',
               '2020-03-01 00:00:14', '2020-03-01 00:00:15',
               '2020-03-01 00:00:16', '2020-03-01 00:00:17',
               '2020-03-01 00:00:18', '2020-03-01 00:00:19',
               '2020-03-01 00:00:20', '2020-03-01 00:00:21',
               '2020-03-01 00:00:22', '2020-03-01 00:00:23',
               '2020-03-01 00:00:24', '2020-03-01 00:00:25',
               '2020-03-01 00:00:26', '2020-03-01 00:00:27',
               '2020-03-01 00:00:28', '2020-03-01 00:00:29',
               '2020-03-01 00:00:30', '2020-03-01 00:00:31',
               '2020-03-01 00:00:32', '2020-03-01 00:00:33',
               '2020-03-01 00:00:34', '2020-03-01 00:00:35',
               '2020-03-01 00:00:36', '2020-03-01 00:00:37',
               '2020-03-01 00:00:38', '2020-03-01 00:00:39',
               '2020-03-01 00:00:40', '2020-03-01 00:00:41',
               '2020-03-01 00:00:42', '2020-03-01 00:00:43',
               '2020-03-01 00:00:44', '2020-03-01 00:00:45',
               '2020-03-01 00:00:46', '2020-03-01 00:00:47',
               '2020-03-01 00:00:48', '2020-03-01 00:00:49',
               '2020-03-01 00:00:50', '2020-03-01 00:00:51',
               '2020-03-01 00:00:52', '2020-03-01 00:00:53',
               '2020-03-01 00:00:54', '2020-03-01 00:00:55',
               '2020-03-01 00:00:56', '2020-03-01 00:00:57',
               '2020-03-01 00:00:58', '2020-03-01 00:00:59',
               '2020-03-01 00:01:00', '2020-03-01 00:01:01',
               '2020-03-01 00:01:02', '2020-03-01 00:01:03',
               '2020-03-01 00:01:04', '2020-03-01 00:01:05',
               '2020-03-01 00:01:06', '2020-03-01 00:01:07',
               '2020-03-01 00:01:08', '2020-03-01 00:01:09',
               '2020-03-01 00:01:10', '2020-03-01 00:01:11',
               '2020-03-01 00:01:12', '2020-03-01 00:01:13',
               '2020-03-01 00:01:14', '2020-03-01 00:01:15',
               '2020-03-01 00:01:16', '2020-03-01 00:01:17',
               '2020-03-01 00:01:18', '2020-03-01 00:01:19',
               '2020-03-01 00:01:20', '2020-03-01 00:01:21',
               '2020-03-01 00:01:22', '2020-03-01 00:01:23',
               '2020-03-01 00:01:24', '2020-03-01 00:01:25',
               '2020-03-01 00:01:26', '2020-03-01 00:01:27',
               '2020-03-01 00:01:28', '2020-03-01 00:01:29',
               '2020-03-01 00:01:30', '2020-03-01 00:01:31',
               '2020-03-01 00:01:32', '2020-03-01 00:01:33',
               '2020-03-01 00:01:34', '2020-03-01 00:01:35',
               '2020-03-01 00:01:36', '2020-03-01 00:01:37',
               '2020-03-01 00:01:38', '2020-03-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [11]:
# resample的例子，每3秒采样一个组，求和
dates = pd.date_range('3/3/2022', periods=9, freq='S')
dates

DatetimeIndex(['2022-03-03 00:00:00', '2022-03-03 00:00:01',
               '2022-03-03 00:00:02', '2022-03-03 00:00:03',
               '2022-03-03 00:00:04', '2022-03-03 00:00:05',
               '2022-03-03 00:00:06', '2022-03-03 00:00:07',
               '2022-03-03 00:00:08'],
              dtype='datetime64[ns]', freq='S')

In [12]:
ts = pd.Series(range(0, 9), dates)
ts

2022-03-03 00:00:00    0
2022-03-03 00:00:01    1
2022-03-03 00:00:02    2
2022-03-03 00:00:03    3
2022-03-03 00:00:04    4
2022-03-03 00:00:05    5
2022-03-03 00:00:06    6
2022-03-03 00:00:07    7
2022-03-03 00:00:08    8
Freq: S, dtype: int64

In [13]:
ts.resample('3S').sum()

2022-03-03 00:00:00     3
2022-03-03 00:00:03    12
2022-03-03 00:00:06    21
Freq: 3S, dtype: int64

In [17]:
# 时区演示
dates = pd.date_range('3/3/2020 00:00:00', periods=5, freq='S')
ts = pd.Series(np.random.randn(len(dates)), dates)
ts

2020-03-03 00:00:00    1.274324
2020-03-03 00:00:01    0.689352
2020-03-03 00:00:02    0.977939
2020-03-03 00:00:03   -0.887503
2020-03-03 00:00:04    0.782041
Freq: S, dtype: float64

In [19]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2020-03-03 00:00:00+00:00    1.274324
2020-03-03 00:00:01+00:00    0.689352
2020-03-03 00:00:02+00:00    0.977939
2020-03-03 00:00:03+00:00   -0.887503
2020-03-03 00:00:04+00:00    0.782041
Freq: S, dtype: float64

In [20]:
# 时区转换
ts_utc.tz_convert('Asia/Tokyo')

2020-03-03 09:00:00+09:00    1.274324
2020-03-03 09:00:01+09:00    0.689352
2020-03-03 09:00:02+09:00    0.977939
2020-03-03 09:00:03+09:00   -0.887503
2020-03-03 09:00:04+09:00    0.782041
Freq: S, dtype: float64

In [22]:
# 以月为频率创建Series，并做转换
dates = pd.date_range('3/3/2020', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(dates)), dates)
ts

2020-03-31    0.306383
2020-04-30   -0.206600
2020-05-31   -0.866374
2020-06-30   -0.042912
2020-07-31   -0.357827
Freq: M, dtype: float64

In [24]:
ps = ts.to_period()
print(type(ps))
ps

<class 'pandas.core.series.Series'>

2020-03    0.306383
2020-04   -0.206600
2020-05   -0.866374
2020-06   -0.042912
2020-07   -0.357827
Freq: M, dtype: float64

In [25]:
ps.to_timestamp()

2020-03-01    0.306383
2020-04-01   -0.206600
2020-05-01   -0.866374
2020-06-01   -0.042912
2020-07-01   -0.357827
Freq: MS, dtype: float64

In [27]:
# 分类演示
df = pd.DataFrame({
    "id": [1, 2, 3, 4, 5, 6],
    "grade": ['a', 'b', 'c', 'b', 'a', 'e']
})

df

   id grade
0   1     a
1   2     b
2   3     c
3   4     b
4   5     a
5   6     e

In [47]:
df['Grade'] = df['grade'].astype("category")
df['Grade']

0    a
1    b
2    c
3    b
4    a
5    e
Name: Grade, dtype: category
Categories (4, object): ['a', 'b', 'c', 'e']

In [58]:
df['Grade'] = df['Grade'].cat.set_categories(['Excellent', 'Good', 'Not Good', 'Bad'])
df['Grade']

0    Excellent
1         Good
2     Not Good
3         Good
4    Excellent
5          Bad
Name: Grade, dtype: category
Categories (4, object): ['Excellent', 'Good', 'Not Good', 'Bad']

In [59]:
df

   id grade      Grade
0   1     a  Excellent
1   2     b       Good
2   3     c   Not Good
3   4     b       Good
4   5     a  Excellent
5   6     e        Bad