* 存储过程示例

In [1]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql mssql+pyodbc://sa:Lily870104@MSSQLTest

In [3]:
%%sql use test1;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

In [16]:
%%sql create procedure sp_GetEmployeeInfo(@empid int)
    as 
    begin
    select emp_id, first_name, last_name,
    mgr_id, phone_number,hire_date,
    job_title, dept_no
    from Test1.dbo.employee
    where
    emp_id=@empid
    end;
    
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

In [22]:
%%sql use test1;
    declare @return_value int
    exec @return_value=sp_GetEmployeeInfo @empid=1001
    select 'Return Value'=@return_value;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[(1001, 'Allen', 'Finch', None, None, None, 'J7', 10)]

In [13]:
%%sql drop procedure sp_GetEmployeeInfo;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

* 创建一个不带参数的存储过程

In [24]:
%%sql create procedure uspGetEmployeeDetail
    as 
    select * from dept;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

* 删除存储过程的时候，需要check一下dependency
* 存储过程在数据库的Programmability节点下

* Exec 可以执行SP

In [26]:
%sql exec dbo.uspGetEmployeeDetail;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(10, 'HR', 'Chennai'),
 (20, 'Marketing', 'Hyberadad'),
 (30, 'Sales', 'Bangalore'),
 (40, 'Developer', 'Chennai')]

* Exec 不是必须的，直接给名字也行

In [29]:
%sql uspGetEmployeeDetail;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(10, 'HR', 'Chennai'),
 (20, 'Marketing', 'Hyberadad'),
 (30, 'Sales', 'Bangalore'),
 (40, 'Developer', 'Chennai')]

* 简写也可以创建存储过程

In [31]:
%%sql drop procedure uspGetEmployeeDetail;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
(pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Cannot drop the procedure 'uspGetEmployeeDetail', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")
[SQL: drop procedure uspGetEmployeeDetail;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [32]:
%%sql create proc dbo.uspGetDeptDetail
    as 
    select * from dept;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

In [34]:
%sql exec dbo.uspGetDeptDetail;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(10, 'HR', 'Chennai'),
 (20, 'Marketing', 'Hyberadad'),
 (30, 'Sales', 'Bangalore'),
 (40, 'Developer', 'Chennai')]

* 创建带参数的存储过程
* 一句话存储过程可以不用begin end

In [35]:
%%sql create procedure dbo.uspGetDetail
    @dept_no nvarchar(30)
    as
    select * from dept
    where 
    dept_no=@dept_no;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

* 写代码执行带参数的存储过程

In [37]:
%sql exec dbo.uspGetDetail @dept_no=30;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(30, 'Sales', 'Bangalore')]

* 不带参数来执行带参的存储过程，会产生error

In [39]:
%sql exec dbo.uspGetDetail;

 * mssql+pyodbc://sa:***@MSSQLTest
(pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Procedure or function 'uspGetDetail' expects parameter '@dept_no', which was not supplied. (201) (SQLExecDirectW)")
[SQL: exec dbo.uspGetDetail;]
(Background on this error at: https://sqlalche.me/e/20/f405)

* 可以给存储过程提供一个可选参数，例如给一个null
* 就可以不传参数了

In [41]:
%%sql drop procedure uspGetDetail;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
(pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Cannot drop the procedure 'uspGetDetail', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")
[SQL: drop procedure uspGetDetail;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [42]:
%%sql create procedure dbo.uspGetDetail
    @dept_no nvarchar(30) = 30
    as
    select * from dept
    where 
    dept_no=@dept_no;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

In [44]:
%sql exec dbo.uspGetDetail;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(30, 'Sales', 'Bangalore')]

* 创建可接受多参数的存储过程
* 这个存储过程很简单，就加了一个参数

In [46]:
%%sql create procedure dbo.GetDetailsFrom
    @dept_no nvarchar(30) = null,
    @dept_name nvarchar(60) = null
    as
    select *
    from dept
    where dept_no=@dept_no
    and
    dept_name=@dept_name;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

* 如何调用多参数的存储过程

In [48]:
%sql select * from dept;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(10, 'HR', 'Chennai'),
 (20, 'Marketing', 'Hyberadad'),
 (30, 'Sales', 'Bangalore'),
 (40, 'Developer', 'Chennai')]

In [50]:
%sql exec dbo.GetDetailsFrom @dept_no=10, @dept_name='HR';

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(10, 'HR', 'Chennai')]

* 存储过程输出参数
* Count作为out param

In [51]:
%%sql create procedure uspGetCount
    @dept_no nvarchar(30),
    @count int output
    as 
    select @count=count(*)
    from dept
    where
    dept_no=@dept_no;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

* 带out 参数的SP，调用方法

In [58]:
%%sql declare @count int
    exec dbo.uspGetCount @dept_no=10, @count=@count output
    select @count;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(1,)]

* 在存储过程中写注释

In [61]:
%%sql drop procedure dbo.uspGetCount
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
(pyodbc.ProgrammingError) ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Cannot drop the procedure 'dbo.uspGetCount', because it does not exist or you do not have permission. (3701) (SQLExecDirectW)")
[SQL: drop procedure dbo.uspGetCount
    commit;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [62]:
%%sql create procedure uspGetCount
    -- Define parameters
    /*
        This is multiparameter Stored Procedure
        Having Output Parameters
    */
    @dept_no nvarchar(30),
    @count int output
    as 
    select @count=count(*)
    from dept
    where
    dept_no=@dept_no;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

In [64]:
%%sql declare @count int
    exec dbo.uspGetCount @dept_no=10, @count=@count output
    select @count;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(1,)]

* 存储过程的异常 Try catch
* 跟C++/Java/Python类似

In [68]:
%%sql create procedure dbo.uspTryCatch
    as
    begin try
    select 1/0
    end try
    begin catch
    select error_number() as ErrorNumber,
    error_severity() as ErrorSeverity,
    error_state() as ErrorState,
    error_procedure() as ErrorProcedure,
    error_line() as ErrorLine,
    error_message() as ErrorMessage
    end catch;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

* try catch 执行结果

In [86]:
%sql  dbo.uspTryCatch

 * mssql+pyodbc://sa:***@MSSQLTest
0 rows affected.

[]

## Done