In [1]:
import numpy as np
import pandas as pd

In [2]:
pwd

'/home/fredric/code/cpp_practice/py_for_data_science/20_pandas'

## CSV 
### CSV Inputs

In [3]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df.to_csv('example_out', index=False)

## Excel

Pandas也可以读取Excel,read_excel 方法只能读取数据，不能读取格式或者图像，
如果有格式或者图像的话，可能会导致read_excel方法crash

### Excel Input

In [5]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1', index_col=0)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [6]:
df.to_excel('Result.xlsx', sheet_name='Sheet1')

## HTML

可能需要安装如下库 <br>
pip install lxml <br>
pip install html5lib <br> 
pip install BeautifulSoup4 <br>

In [7]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [8]:
df[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
3,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
4,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539

## SQL

需要先安装sqlalchemy <br>
pip install sqlalchemy

In [27]:
from sqlalchemy import create_engine, text

In [19]:
engine = create_engine('sqlite:///:memory:')

In [20]:
df[0].to_sql('data', engine)

568

In [31]:
sql_df = pd.read_sql_query(con=engine.connect(), 
                                sql=text('select * from data'), index_col='index')

In [35]:
sql_df.head(5)

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
index,,,,,,,
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
3,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
4,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539

## Great Job!