## Update 语句

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql mssql+pyodbc://sa:Lily870104@MSSQLTest

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%%sql use emp_db;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.
Done.

[]

In [5]:
%sql select top 10 * from dept;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(90, 'AfterSales', '武汉'), (100, 'Marketing', '深圳')]

In [6]:
%%sql update dept set dept_name='HR' where deptno=90
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
1 rows affected.

[]

In [7]:
%sql select top 10 * from dept

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(90, 'HR', '武汉'), (100, 'Marketing', '深圳')]

*去掉where将会更新整个表* <br>
*注释的两种形式*
/\*comments\*/ <br>
*-- comments* <br>

In [8]:
%%sql update dept set dept_name='Marketing' /*where dept_no=100*/
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
2 rows affected.

[]

In [10]:
%sql select * from dept

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(90, 'Marketing', '武汉'), (100, 'Marketing', '深圳')]

*单行语句更新两个dept_name和loc*

In [12]:
%%sql update dept set dept_name='HR', loc='上海' where deptno=90
    commit

 * mssql+pyodbc://sa:***@MSSQLTest
1 rows affected.

[]

In [14]:
%sql select * from dept;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(90, 'HR', '上海'), (100, 'Marketing', '深圳')]

*当我们更新或者插入值时，数据列的数据类型很有用。如果弄错类型，就会报错*

In [23]:
%%sql update dept set deptno='上海' where deptno=90
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
0 rows affected.

[]

In [24]:
%sql select * from dept;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(10, 'HR', '19'), (100, 'Marketing', '深圳')]

In [25]:
%%sql update dept set loc='上海' where deptno=10;
    commit;

 * mssql+pyodbc://sa:***@MSSQLTest
1 rows affected.
Done.

[]

In [27]:
%sql select top 1000 * from dept;

 * mssql+pyodbc://sa:***@MSSQLTest
Done.

[(10, 'HR', '上海'), (100, 'Marketing', '深圳')]